<?xml version="1.0" ?>

<robot name="hexacopter">

  <material name="black">
    <color rgba="0.0 0.0 0.0 1.0"/>
  </material>
  <material name="grey">
    <color rgba="0.2 0.2 0.2 1.0"/>
  </material>
  <material name="yellow">
    <color rgba="1.0 0.8 0.0 1.0"/>
  </material>
  <material name="bodycolor">
    <!--
       -<color rgba="1.0 1.0 1.0 1.0"/>
       -->
    <color rgba="1.0 0.8 0.0 1.0"/>
  </material>

  <link name="base_link">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="4.606"/>
      <inertia ixx="0.2566543715" ixy="0" ixz="-0.00240975" iyy="0.2502375625" iyz="0" izz="0.363093409"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.14" length="0.14"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <cylinder radius="0.14" length="0.14"/>
      </geometry>
      <material name="bodycolor"/>
    </visual>
  </link>

  

  <link name="leg_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.00"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.025 0.31 0.025"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <box size="0.025 0.31 0.025"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  <joint name="leg_1_joint" type="fixed">
    <origin rpy="-0.13962634 0 1.047197551" xyz="0.225 -0.14 0.057"/>
    <parent link="base_link"/>
    <child link="leg_1"/>
  </joint>

  <link name="leg_2">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.00"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.025 0.31 0.025"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <box size="0.025 0.31 0.025"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  <joint name="leg_2_joint" type="fixed">
    <origin rpy="0.13962634 0 2.094395102" xyz="0.225 0.14 0.057"/>
    <parent link="base_link"/>
    <child link="leg_2"/>
  </joint>

<link name="leg_3">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.00"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.025 0.31 0.025"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <box size="0.025 0.31 0.025"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  <joint name="leg_3_joint" type="fixed">
    <origin rpy="0.13962634 0 3.141592654" xyz="0 0.295 0.057"/>
    <parent link="base_link"/>
    <child link="leg_3"/>
  </joint>

<link name="leg_4">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.00"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.025 0.31 0.025"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <box size="0.025 0.31 0.025"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  <joint name="leg_4_joint" type="fixed">
    <origin rpy="0.13962634 0 4.188790205" xyz="-0.225 0.14 0.057"/>
    <parent link="base_link"/>
    <child link="leg_4"/>
  </joint>

<link name="leg_5">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.00"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.025 0.31 0.025"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <box size="0.025 0.31 0.025"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  <joint name="leg_5_joint" type="fixed">
    <origin rpy="-0.13962634 0 5.235987756" xyz="-0.225 -0.14 0.057"/>
    <parent link="base_link"/>
    <child link="leg_5"/>
  </joint>

<link name="leg_6">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.00"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <box size="0.025 0.31 0.025"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <box size="0.025 0.31 0.025"/>
      </geometry>
      <material name="black"/>
    </visual>
  </link>
  <joint name="leg_6_joint" type="fixed">
    <origin rpy="-0.13962634 0 3.141592654" xyz="0 -0.295 0.057"/>
    <parent link="base_link"/>
    <child link="leg_6"/>
  </joint>

<link name="motor_1">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.00"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.19" length="0.005"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <cylinder radius="0.19" length="0.005"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>
  <joint name="motor_1_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.39 0.225 0.115"/>
    <parent link="base_link"/>
    <child link="motor_1"/>
  </joint>

<link name="motor_2">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.00"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.19" length="0.005"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <cylinder radius="0.19" length="0.005"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>
  <joint name="motor_2_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0 0.45 0.115"/>
    <parent link="base_link"/>
    <child link="motor_2"/>
  </joint>

<link name="motor_3">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.00"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.19" length="0.005"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <cylinder radius="0.19" length="0.005"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>
  <joint name="motor_3_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.39 0.225 0.115"/>
    <parent link="base_link"/>
    <child link="motor_3"/>
  </joint>

<link name="motor_4">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.00"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.19" length="0.005"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <cylinder radius="0.19" length="0.005"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>
  <joint name="motor_4_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.39 -0.225 0.115"/>
    <parent link="base_link"/>
    <child link="motor_4"/>
  </joint>

<link name="motor_5">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.00"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.19" length="0.005"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <cylinder radius="0.19" length="0.005"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>
  <joint name="motor_5_joint" type="fixed">
    <origin rpy="0 0 0" xyz="-0.0 -0.45 0.115"/>
    <parent link="base_link"/>
    <child link="motor_5"/>
  </joint>

<link name="motor_6">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <mass value="0.00"/>
      <inertia ixx="0" ixy="0" ixz="0" iyy="0" iyz="0" izz="0"/>
    </inertial>
    <collision>
      <origin rpy="0 0 0" xyz="0 0 0"/>
      <geometry>
        <cylinder radius="0.19" length="0.005"/>
      </geometry>
    </collision>
    <visual>
      <geometry>
        <cylinder radius="0.19" length="0.005"/>
      </geometry>
      <material name="grey"/>
    </visual>
  </link>
  <joint name="motor_6_joint" type="fixed">
    <origin rpy="0 0 0" xyz="0.39 -0.225 0.115"/>
    <parent link="base_link"/>
    <child link="motor_6"/>
  </joint>
</robot>
